### BACKEND ###
backend/target/
backend/.mvn/**
/backend/mvnw
/backend/mvnw.cmd

### FRONTEND ###
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
