#stockListingKeyListWrapper {
    width: 1020px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#stockListingKeyList {
    width: inherit;
    height: 30px;
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    display: inline-block;
}

.stockListingKeyLI {
    display: inline;
    margin: 10px;
}