#stockListingKeyListWrapper {
    width: 1020px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#stockListingKeyList {
    width: inherit;
    height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    display: inline-block;
}

#listItemsContainer {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.stockListingKeyLIWrapper {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.stockListingKeyLI {
    display: inline;
}

#stockListingsTable {
    width: 1020px;
    margin: 25px auto 50px;
    border: 1px solid #ee5a32;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.stockListingsCell {
    border: 1px solid #ee5a32;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.stockListingsTh {
    background-color: #666666;
    font-size: 16px;
    font-weight: 700;
}

.stockListingsTd {
    font-size: 15px;
}

.buttonWrapper {
    text-align: center;
}

.actionButton {
    color: #ffffff;
    background-color: #008000;
    border-radius: 10px;
    border: 1px solid #303030;
    text-align: center;
    width: 150px;
    height: 25px;
}

.actionButton:hover {
    background-color: #007000;
}

.oddTableData {
    background-color: #82b637
}

#noResults {
    width: 400px;
    height: 50px;
    text-align: center;
    color: #ee5a32;
    margin: 100px auto 100px;
}
