
#stockListingsTable {
    width: 1020px;
    margin: 25px auto 50px;
    border: 1px solid #ee5a32;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.stockListingsCell {
    border: 1px solid #ee5a32;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.stockListingsTh {
    background-color: #666666;
    font-size: 16px;
    font-weight: 700;
}

.stockListingsTd {
    font-size: 15px;
}

.buttonWrapper {
    text-align: center;
}

.actionButton {
    color: #ffffff;
    background-color: #008000;
    border-radius: 10px;
    border: 1px solid #303030;
    text-align: center;
    width: 150px;
    height: 25px;
}

.actionButton:hover {
    background-color: #007000;
}

.positiveChange {
    color: #008000;
    font-weight: 700;
}

.negativeChange {
    color: #cc0000;
    font-weight: 700;
}

.favouriteButtonActive {
    color: #ffffff;
    background-color: #b8860b;
    border-radius: 10px;
    border: 1px solid #303030;
    text-align: center;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

.favouriteButtonActive:hover {
    background-color: #a07609;
}

#noResults {
    width: 600px;
    text-align: center;
    color: #ee5a32;
    margin: 100px auto 0;
}

#searchBtn {
    background-color: #303030;
    border: 2px solid #ee5a32;
    border-radius: 5px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    padding: 12px 30px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 15px;
}

#searchBtn:hover {
    border-color: #ff7a52;
    background-color: #303030;
    text-decoration: underline;
}
