<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">
            jdbc:mysql://remotemysql.com:3306/AThBBb911L?serverTimezone=Europe/Warsaw
        </property>
        <property name="hibernate.connection.username">AThBBb911L</property>
        <property name="hibernate.connection.password">Ue5an2zhAE</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="pl.eizodev.app.User"/>

    </session-factory>
</hibernate-configuration>