#container {
    max-width: 1020px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.square {
    flex: 1;
    text-align: center;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }
}
