#stockInfoWrapper {
    margin: 21px auto;
}

#stockInfo {
    max-width: 570px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stockInfoLegend {
    text-align: left;
}

.stockInfoFont {
    font-size: 15px;
}

#stockData {
    text-align: right;
}

#splitViewWrapper {
    min-height: 500px;
}

#errWrapper {
    max-width: 400px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}
