#stockInfoWrapper {
    margin: 21px auto;
}

#stockInfo {
    width: 570px;
    height: 425px;
}

#stockInfoLegend {
    float: left;
    text-align: left;
    width: 200px;
}

.stockInfoFont {
    font-size: 15px;
}

#stockData {
    float: left;
    text-align: right;
    width: 370px;
}

#splitViewWrapper {
    height: 500px;
}
