
.icon-user:before { content: '\e800'; } /* '' */
.icon-left-small:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */