#container {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.loaderWrapper {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.loader {
    display: inline-block;
    width: 90px;
    height: 90px;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#errWrapper {
    width: 400px;
    margin: 15px auto;
    text-align: center;
}
