#topbar {
    width: 1020px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #666666;
    border-radius: 4px;
}

#timeWrapper {
    float: left;
    width: 50%;
    height: 100px;
}

#timeData {
    margin-left: 10px;
}

#greeting {
    margin-top: 30px;
    text-align: left;
}

#time {
    text-align: left;
}

#userWrapper {
    float: left;
    height: 100px;
    width: 50%;
}

#userData {
    margin-top: 5px;
    margin-left: 75%;
    height: 95px;
}

#usernameDisplay {
    margin-top: 2px;
    font-size: 16px;
}

.userLink {
    margin-top: 2px;
    height: 20px;
}

#signOutBtn {
    margin-top: 5px;
    background-color: #8b0000;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

#signOutBtn:hover {
    margin-top: 5px;
    background-color: #7a0000;
    cursor: pointer;
}
