#walletInfo {
    max-width: 638px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.walletInfoFont {
    font-size: 16px;
}

#walletLegend {
    text-align: left;
    margin-left: 15px;
}

#walletData {
    text-align: right;
}
