body
{
    background-color: #606060;
}

table, th, td
 {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: small;
 }

table
{
    width: 1000px;
}

th
{
    height: 40px;
}

td
{
    height: 30px;
    color: #ffffff;
}

#Notowania
{
    float: left;
}

#Portfel
{
    float: left;
}

#stocks
{
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#kup
{
    background: forestgreen;
    height: 20px;
    width: 175px;
    font-size: small;
    border-radius: 25px;
    align-content: center;
}

