<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja giełdowa</title>

    <meta name="description" content="Strona symulująca giełdę papierów wartościowych."/>
    <meta name="keywords" content="giełda, gpw, papiery wartościowe, akcje, obligacje"/>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/clock.js}"></script>
    <script type="text/javascript" src="../static/js/countPercChange.js" th:src="@{/js/countPercChange.js}"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="timeWrapper">
        <div id="welcome">Dzień dobry!</div>
        <div id="time"></div>
    </div>
    <div id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: <i th:text="${user.getName()}"></i>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="container">
    <div class="square">
        <fieldset id="fieldset1">
            <legend>Opcje do wyboru:</legend>
            <a th:href="statsWIG20">
                <div id="tile1">Notowania<br/>
                    <i class=" icon-chart-line"></i>
                </div>
            </a>

            <a th:href="myWallet">
                <div id="tile2">Szczegóły portfela<br/>
                    <i class=" icon-info"></i>
                </div>
            </a>
        </fieldset>
    </div>

    <div class="square">
        <fieldset id="fieldset2">
            <legend><i class="icon-wallet"></i>Mój portfel:</legend>
            <div id="walletLegend">
                Wartość akcji:<br/>
                Stan konta:<br/>
                Wartość portfela:<br/><br/>
                Poprzednia wartość portfela:<br/>
                Procentowa zmiana wartości portfela:
            </div>

            <div id="walletData">
                <i th:text="${user.getStockValue()}"></i> zł.<br/>
                <i th:text="${user.getBalanceAvailable()}"></i> zł.<br/>
                <i id="walletValue" th:text="${user.getWalletValue()}"></i> zł.<br/><br/>
                <i id="prevWalletValue" th:text="${user.getPrevWalletValue()}"></i> zł.<br/>
                <i id="percChange"> %</i>
            </div>
            <div style="clear: both"></div>
        </fieldset>
    </div>

    <div style="clear: both;"></div>
</div>

<div id="footer">Dziękuję za wizytę. Mam nadzieję, że zakupy bedą udane :)<br/>2020&copy; Sebastian Gawron</div>

</body>
</html>