<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockApp</title>

    <meta name="description" content="Strona symulująca giełdę papierów wartościowych."/>
    <meta name="keywords" content="giełda, gpw, papiery wartościowe, akcje, obligacje"/>

    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="fontello/css/fontello.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script src="Clock.js" type="text/javascript"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="time"></div>
    <div id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: nazwa_uzytkownika
    </div>
    <div style="clear: both;"></div>
</div>

<div id="container">
    <div class="square">
        <fieldset id="fieldset1">
            <legend>Opcje do wyboru:</legend>
            <a href="statsWIG20.html">
                <div id="tile1">Notowania<br/>
                    <i class=" icon-chart-line"></i>
                </div>
            </a>

            <a href="#">
                <div id="tile2">Szczegóły portfela<br/>
                    <i class=" icon-info"></i>
                </div>
            </a>
        </fieldset>
    </div>

    <div class="square">
        <fieldset id="fieldset2">
            <legend><i class="icon-wallet"></i>Mój portfel:</legend>
            <div id="walletLegend">
                Wartość akcji:<br/>
                Stan konta:<br/>
                Wartość portfela:<br/><br/>
                Poprzednia wartość portfela:<br/>
                Procentowa zmiana wartości portfela:
            </div>

            <div id="walletData">
                1123,40<br/>
                8654,54<br/>
                11540,33<br/><br/>
                10000,0<br/>
                1,1%
            </div>
            <div style="clear: both"></div>
        </fieldset>
    </div>

    <div style="clear: both;"></div>
</div>

<div id="footer">Dziękuję za wizytę. Mam nadzieję, że zakupy bedą udane :)<br/>2020&copy; Sebastian Gawron</div>

</body>
</html>