<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się!</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>
</head>
<body>
<div id="registerHeaderContainer">
    <h3>Zaloguj się!</h3>
</div>

<div id="registerFormContainer">
    <form th:action="@{/perform_login}" method="post">

        <!--        <div class="errors" th:if="${#fields.hasErrors('*')}">-->
        <!--            <ul>-->
        <!--                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>-->
        <!--            </ul>-->
        <!--        </div>-->

        <h4>Podaj nazwę użytkownika:</h4>
        <input style="width: 150px;" type="text" class="inputStyle" name="username" required>
        <div></div>

        <h4>Podaj hasło:</h4>
        <input style="width: 150px;" type="password" class="inputStyle" name="password" required>
        <div></div>

        <input style="margin-top: 26px; margin-bottom: 26px;" type="submit" class="confirm" value="Zaloguj się!"
               required>
    </form>
    <a id="registerLink" th:href="@{/user/register}"><div>Pierwszy raz? Zarejestruj się!</div></a>
</div>

<div id="footer">Świetnie Cię znowu widzieć!<br/>2020&copy; Sebastian Gawron</div>

</body>
</html>