<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły portfela</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/clock.js}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/disableLinks.js" th:src="@{/js/disableLinks.js}"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="timeWrapper">
        <div id="welcome">Dzień dobry!</div>
        <div id="time"></div>
    </div>
    <div id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: <i th:text="${user.getName()}"></i>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="container">
    <div id="backArrow">
        <a th:href="mainView">
            <i class="icon-left-small"></i>
        </a>
    </div>


    <div id="myStock">
        <fieldset id="stock">
            <legend>Akcje znajdujące się w Twoim portfelu:</legend>

            <table id="stockTable">
                <tr id="sign">
                    <th style="width: 120px;">Nazwa spółki</th>
                    <th>Kurs</th>
                    <th>Dzienna zmiana</th>
                    <th>Ilość akcji</th>
                    <th>Średnia cena zakupu</th>
                    <th>Zysk/Strata</th>
                    <th style="width: 250px;">Czynnosci</th>
                </tr>
                <tr th:each="userStock: ${userStock}">
                    <td style="background-color: #93c748" th:text="${userStock.getName()}"></td>
                    <td th:text="${userStock.getPrice()}"></td>
                    <td style="background-color: #93c748;" th:text="${userStock.getChange()}"></td>
                    <td th:text="${userStock.getQuantity()}"></td>
                    <td th:text="${userStock.getAveragePurchasePrice()}"></td>
                    <td th:text="${#numbers.formatDecimal(userStock.getProfitLoss(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td>
                        <div class="buttonWrapper">
                            <a th:href="@{/stock/order(ticker=${userStock.getTicker()},action='sell',prev='myWallet')}">
                                <button type="button" id="sellLink">Sprzedaj</button>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="quickStats">
        <fieldset id="fieldsetStats">
            <legend><i class="icon-wallet"></i>Mój portfel:</legend>
            <div id="walletLegend">
                Wartość akcji:<br/>
                Dostępne środki:<br/>
                Wartość portfela:<br/><br/>
                Poprzednia wartość portfela:<br/>
                Procentowa zmiana wartości portfela:
            </div>

            <div id="walletData">
                <i th:text="${#numbers.formatDecimal(user.getStockValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></i> zł.<br/>
                <i th:text="${#numbers.formatDecimal(user.getBalanceAvailable(), 1, 'DEFAULT', 2, 'DEFAULT')}"></i> zł.<br/>
                <i th:text="${#numbers.formatDecimal(user.getWalletValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></i> zł.<br/><br/>
                <i th:text="${#numbers.formatDecimal(user.getPrevWalletValue(), 1, 'DEFAULT', 2, 'DEFAULT')}"></i> zł.<br/>
                <i th:text="${#numbers.formatDecimal(user.getWalletPercChange(), 1, 'DEFAULT', 2, 'DEFAULT')}"></i> %
            </div>
            <div style="clear: both"></div>
        </fieldset>
    </div>
</div>

<div id="footer">Dziękuję za wizytę. Mam nadzieję, że wartość Twojego portfela cały czas rośnie!<br/>2020&copy;
    Sebastian Gawron
</div>

</body>
</html>