<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zlecenie transakcji</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/clock.js}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/getShoppingParams.js}"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="timeWrapper">
        <div id="welcome">Dzień dobry!</div>
        <div id="time"></div>
    </div>
    <div id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: <i th:text="${user.getName()}"></i>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="container">
    <div id="backArrow">
        <a th:href="statsWIG20">
            <i class="icon-left-small"></i>
        </a>
    </div>

    <div id="formContainer">
        <div id="headerNote">Wypełnij poniższy formularz, aby zakupić akcje spółki</div>
        <div class="separator"></div>

        <form action="/stock/order" method="post">
            <h5>Wybierz spółkę:</h5>

            <label>
                <select th:name="ticker" id="pickStock">
                    <option value="ALR">ALIOR</option>
                    <option value="CCC">CCC</option>
                    <option value="CDR">CDPROJEKT</option>
                    <option value="CPS">CYFRPLSAT</option>
                    <option value="DNP">DINOPL</option>
                    <option value="JSW">JSW</option>
                    <option value="KGH">KGHM</option>
                    <option value="LPP">LPP</option>
                    <option value="LTS">LOTOS</option>
                    <option value="MBK">MBANK</option>
                    <option value="OPL">ORANGEPL</option>
                    <option value="PEO">PEKAO</option>
                    <option value="PGE">PGE</option>
                    <option value="PGN">PGNIG</option>
                    <option value="PKN">PKNORLEN</option>
                    <option value="PKO">PKOBP</option>
                    <option value="PLY">PLAY</option>
                    <option value="PZU">PZU</option>
                    <option value="SPL">SANPL</option>
                    <option value="TPE">TAURONPE</option>
                </select>
            </label>

            <div class="separator"></div>

            <h5>Kurs:</h5>
            <p>13.00</p>
            <p>4.53%</p>

            <div class="separator"></div>

            <h5>Rodzaj zlecenia:</h5>

            <label>
                <select th:name="action" id="pickAction">
                    <option value="buy">Kupno</option>
                    <option value="sell">Sprzedaż</option>
                </select>
            </label>

            <div class="separator"></div>

            <h5>Ilość akcji przeznaczona do transakcji:</h5>
            <label for="stockQuantity"></label><input th:name="quantity" id="stockQuantity" type="number" step="1"
                                                      min="1">

            <div class="separator"></div>

            <input id="confirm" type="submit">
        </form>
    </div>
</div>

<div id="footer">Poważne zakupy!<br/>2020&copy; Sebastian Gawron</div>

</body>
</html>