<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zlecenie transakcji</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/clock.js}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/getShoppingParams.js}"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="timeWrapper">
        <div id="welcome">Dzień dobry!</div>
        <div id="time"></div>
    </div>

    <div id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: <i th:text="${user.getName()}"></i>
    </div>

    <form th:action="@{/perform_logout}" method="post">
        <input type="submit" value="x" id="logout"/>
    </form>

    <div style="clear: both;"></div>
</div>

<div id="container">
    <div id="backArrow">
        <a th:href="@{/mainView}">
            <i class="icon-left-small"></i>
        </a>
    </div>

    <div id="formContainer">
        <div id="headerNote">Wypełnij poniższy formularz, aby zakupić akcje spółki</div>
        <div class="separator"></div>

        <form th:action="@{/process-order}" method="post" th:object="${transaction}">
            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <h5>Wybrana spółka:</h5>

            <p th:text="${stock.getName()}"></p>
            <input hidden th:value="${stock.getTicker()}" id="stockTicker" name="stockTicker"/>
            <input hidden th:value="${stock.getPriceChange()}" id="priceChange" name="priceChange"/>
            <input hidden th:value="${stock.getLastUpdateDate()}" id="lastUpdateDate" name="lastUpdateDate"/>

            <div class="separator"></div>

            <h5>Kurs:</h5>
            <p th:text="${stock.getPrice()}"></p>
            <p th:text="${stock.getPercentageChange()}"></p>

            <div class="separator"></div>

            <h5>Rodzaj zlecenia:</h5>

            <select id="pickAction" th:field="*{transactionType}">
                <option value="buy">Kupno</option>
                <option value="sell">Sprzedaż</option>
            </select>

            <div class="separator"></div>

            <input hidden th:value="${user.getUserId()}" id="userId" name="userId"/>
            <input hidden th:value="${stock.getIndex()}" id="stockIndex" name="stockIndex"/>

            <h5>Ilość akcji przeznaczona do transakcji:</h5>
            <input class="inputStyle" type="number" step="1" min="1" th:field="*{stockQuantity}" th:class="${#fields.hasErrors('stockQuantity')}? 'error'">

            <div class="separator"></div>

            <input class="confirm" type="submit">
        </form>
    </div>
</div>

<div id="footer">Poważne zakupy!<br/>2020&copy; Sebastian Gawron</div>

</body>
</html>