<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notowania WIG20</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/fontello/css/fontello.css"
          th:href="@{/fontello/css/fontello.css}" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'/>

    <script type="text/javascript" src="../static/js/clock.js" th:src="@{/js/clock.js}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/disableLinks.js" th:src="@{/js/disableLinks.js}"></script>
</head>

<body onload="counter()">
<div id="topbar">
    <div id="timeWrapper">
        <div id="welcome">Dzień dobry!</div>
        <div id="time"></div>
    </div>

    <div sec:authorize="isAuthenticated()" id="user">
        <i class=" icon-user"></i><br/>
        Zalogowano jako: <i th:text="${user.getName()}"></i>
    </div>

    <a sec:authorize="isAuthenticated()" th:href="@{/logout}"><div id="logout">Wyloguj</div></a>

    <div sec:authorize="isAnonymous()" id="userAction">
        <a th:href="@{/login}"><i>Zaloguj się! -></i></a>
        <div></div>
        <a th:href="@{/user/register}"><i>Zarejestruj się! -></i></a>
    </div>

    <div style="clear: both;"></div>
</div>

<div id="container">
    <div id="menu">
        <ol>
            <li><a th:href="mainView">Strona główna</a></li>
            <li><a href="#">WIG20</a></li>
            <li><a href="#">mWIG40</a></li>
            <li><a href="#">sWIG80</a></li>
            <li><a href="#">ETF</a></li>
        </ol>
    </div>

    <div id="stats">
        <br/>

        <table>
            <tr id="sign">
                <th>Symbol spółki</th>
                <th style="width: 120px;">Nazwa spółki</th>
                <th>Kurs</th>
                <th>Dzienna zmiana</th>
                <th>Wolumen</th>
                <th style="width: 250px;">Czynnosci</th>
            </tr>
            <tr th:each="stock: ${stocks}">
                <td style="background-color: #93c748" th:text="${stock.getTicker()}"></td>
                <td th:text="${stock.getName()}"></td>
                <td style="background-color: #93c748;" th:text="${stock.getPrice()}"></td>
                <td th:text="${stock.getChange()}"></td>
                <td style="background-color: #93c748;" th:text="${stock.getVolume()}"></td>
                <td>
                    <div class="buttonWrapper">
                        <a th:href="@{/stock/order(ticker=${stock.getTicker()},action='buy',prev='statsWIG20')}">
                            <button type="button" id="buyLink">Kup</button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="footer">Dziękuję za wizytę. Mam nadzieję, że zakupy bedą udane :)<br/>2020&copy; Sebastian Gawron</div>
</body>
</html>