#contentWrapper {
    width: 400px;
    margin: 30px auto;
    text-align: center;
}

#userWalletBtn {
    background-color: #303030;
    border: 2px solid #ee5a32;
    border-radius: 5px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    padding: 12px 30px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
}

#userWalletBtn:hover {
    border-color: #ff7a52;
    background-color: #303030;
    text-decoration: underline;
}
