#menu {
    text-align: center;
    height: 50px;
    width: 1020px;
}

#stockListingsList {
    width: 1020px;
    height: 50px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

#listItemsContainer {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.stockListingsLIWrapper {
    float: left;
    font-size: 20px;
    width: 120px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.stockListingsLI {
    display: inline;
}
